.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card img{
  width: 150px;
  height: 150px;
}

.card {
  border: 1px solid rgba(100, 100, 100, 0.3);
  box-shadow: 0px 0px 5px lightgrey;
  width: 200px;
  height: 300px;
  margin: 20px 20px;
  text-align: center;
}

.card h3 {
  margin: 16px;
}

.card p {
  color: rgb(100, 100, 100, 0.7);
  text-align: center;
}
